<%-include('../partials/header') %>

<main>
  <h1 class="ind-product-name"><%=producto.name%></h1>

  <section class="product-showcase">
    <img
      src="<%=producto.url_img%>"
      alt="<%=producto.name%>"
      class="product-image"
    />
    <article class="ingredients">
      <p class="product-description">Bizcochuelo de: <%=producto.bizcochuelo%></p>
      <p class="product-description">Relleno de: <%=producto.relleno%></p>
      <p class="product-description">Cubierto de: <%=producto.covertura%></p>
      <p class="product-description">Topping: <%=producto.topping%></p>
    </article>
  </section>

  <%- include('../partials/pagePromo') %>
</main>

<%- include('../partials/footer') %>
